gnome-terminal-colors-solarized
gnome-terminal-colors-solarized/*
oh-my-zsh
oh-my-zsh/*
vim/vim
vim/.netrwhist
vim/backups
vim/tmp
vim/.netrwhist
chef/
private
/vim/.netrwhist
.*.sw[a-z]
*.un~
Session.vim
.netrwhist
